{% extends 'base.html' %} {% block Title %} Vote {% endblock Title %} 
{% block Content %}
<div class="container text-center my-5 mx-auto">
<h2>TO VOTE POLL</h2>
<div class="alert alert-success text-center my-5" role="alert">
  <div class="container">
          <form method="post" action="{% url 'vote' %}">
              {% csrf_token %}
              <h1>
                <label for="PollID">ENTER POLL ID : </label>
              </h1>
              <input type="number" id="PollID" name="PollID">
              <button type="submit" class="btn btn-block btn-hover btn-primary btn-lg my-5" name="searchid">
                  Search
              </button>
          </form>
          <div class="alert" style="background-color: cyan;font-family:cursive">
            IF U DON'T KNOW POLL ID
            <br>
            KINDLY VISIT OUR ALL <a href="{% url 'all_Polls' %}"><button class="btn btn-outline-warning">POLLS</button></a> PAGE :)
          </div>
    </div>
</div>
</div>
{% endblock Content %}

