{% extends "base.html" %}
{% block Title %}
Poll Created
{% endblock Title %}
{% block Content %}
<div class="container my-5">
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-success text-center">POLL CREATED SUCCESSFULLY</h1>
        <hr class="my-4">
        <p class="lead">Remember This Poll Id To Access the Poll for Voting</p>
        <p>
            ID : <button class="btn btn-info btn-lg">{{ id }} </button>
        </p>
        <hr class="my-4">
        <div class="container my-3 mx-3">
            <a class="btn btn-warning btn-lg"href="{% url 'results' %}"role="button">To View Results</a>
        </div>
        <div class="container my-3 mx-3">
            <a class="btn btn-success btn-lg" href="{% url 'home' %}" role="button">Home Page</a>
        </div>
      </div>
</div>
</div>
{% endblock Content %}